@media only screen and (min-width: 600px) {
    body {
        background-image: url("images/site/checkerboard.jpg");
        background-color: lightblue;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

nav {
    background-color: #3a3a3a;
    overflow: hidden;
}

nav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

li a:hover {
    background-color: #4c96d7;
}